JFXTextField{
	-fx-background-color: ghostwhite;
}

.table-view {
    -fx-base: #E0EEEE;
    -fx-control-inner-background: #E0EEEE;
    -fx-background-color: #E0EEEE;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-opacity: 1;
}
/*
 Selected row 
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: black;
}*/

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: darkgray;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: black;
     
}